<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
	<Properties>
		<Property name="baseDir">log</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${baseDir}/sms-java-client.log"
			filePattern="${baseDir}/sms-java-client-%d{yyyy-MM-dd}.log">  
			<PatternLayout>
				<Pattern>%d{DATE} %-5p %c [%t] - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.altiria.app" level="error" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="org.apache.hc.client5" level="warn" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>
